* {
  box-sizing: border-box;
}

a:link,a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
}

div.vyskakovaci-okno {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(1,1,1,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .inner {
        width: 50%;
        height: 300px;
        background-color: darken(#37384B,15%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        h2 {
            text-align: center;
            color: white;
            margin-top: 32px;
            font-family: 'Roboto';
            font-weight: 500;
            display: block;
            width: 100%;
        }
        input[type="text"] {
            display: block;
            width: 60%;
            background-color: darken(#37384B,5%);
            color: white;
            font-family: 'Roboto';
            font-size: 24px;
            text-align: center;
        }
        a.button {
            width: 50%;
            color: white;
            text-align: center;
            background-color: darken(#37384B,0%);
            padding: 12px;
            margin-bottom: 16px;
            cursor: pointer;
        }
    }
}

div.logoutbtn {
    position: fixed;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

body#homepage {
    background: #5D5F7B;
    padding-top: 100px;
    .storage-info {
        background: #37384B;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        padding: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 22px;
        h2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            display: block;
            width: 100%;
            color: rgba(255, 255, 255, 0.4);
            text-transform: uppercase;
        }
        h1 {
            margin-top: 10px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 19px;
            display: block;
            width: 100%;
            color: #FFFFFF;
            text-transform: uppercase;
        }
        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            display: block;
            width: 100%;
            color: rgba(255, 255, 255, 0.6);
            text-transform: uppercase;
        }
    }
    .actual-temp {
        background: #37384B;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        padding: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        h2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            display: block;
            width: 100%;
            color: rgba(255, 255, 255, 0.4);
            text-transform: uppercase;
        }
        div.inner {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin: 30px 0;
            div {
                display: flex;
                align-items: center;
                p.temp {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 46px;
                    line-height: 54px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    span {  
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 46px;
                        line-height: 54px;
                        color: #FFFFFF;
                    }
                }
            }
        }
        p.lastmeasure {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            line-height: 9px;
            display: block;
            width: 100%;
            color: #FFFFFF;
            opacity: 0.4;
            margin: 10px 0 0 0;
            padding: 0;
        }
    }
    .temp-history {
        background: #37384B;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        padding: 16px;
        position: relative;
        min-height: 200px;
        margin-bottom: 22px;
        /*&::after {
            content: '';
            position: absolute;
            width: 30%;
            height: 80%;
            top: 20%;
            left: 0;
            background: linear-gradient(90.00deg, #37384B 20.12%, rgba(55,56,75, 0) 90.00%);
        }
        &::before {
            content: '';
            position: absolute;
            width: 30%;
            height: 80%;
            top: 20%;
            right: 0;
            background: linear-gradient(-90.00deg, #37384B 20.12%, rgba(55,56,75, 0) 90.00%);
        }*/
        h2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            display: block;
            width: 100%;
            color: rgba(255, 255, 255, 0.4);
            margin-bottom: 58px;
            text-transform: uppercase;
        }
    }
    .product {
        background: #37384B;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        padding: 16px;
        margin-bottom: 22px;
        .details {
            display: flex;
            align-items: center;
            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                display: flex;
                align-items: center;
                color: rgba(255, 255, 255, 0.8);
                opacity: 0.6;
                margin: 0;
                padding: 0;
            }
            h3 {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                width: 100%;
                display: block;
                color: rgba(255, 255, 255, 0.8);
                opacity: 0.8;
            }
        }
        .pieces {
            display: flex;
            align-items: center;
            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                display: flex;
                align-items: center;
                text-align: right;
                color: rgba(255, 255, 255, 0.8);
                opacity: 0.6;
                margin: 0;
                padding: 0;
            }
            .warn {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    top: 0;
                    right: -40px;
                    background-image: url(../../assets/icons/warning%201.svg);
                }
            }
        }
        .graph {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 30%;
                height: 120%;
                top: -5px;
                left: -5px;
                left: 0;
                background: linear-gradient(90.00deg, #37384B 20.12%, rgba(55,56,75, 0) 90.00%);
            }
            .row {
                margin-top: -15px;
                margin-bottom: -15px;
                canvas {
                    transform: translateY(10px) translateX(-10px);
                }
            }
        }
    }
}